@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Noto+Serif+Display&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #212121;
  --alt-background: #343434;
  --transparency: #00000050;
  --green: #6d9886;
  --pink: #bd67c0;
  --cream: #d9cab3;
  --white: #f6f6f6;
}

body,
html {
  color: var(--white);
  font-family: "Fira Sans", sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Serif Display", serif;
}

a {
  text-decoration: none;
  color: var(--pink);
  font-size: 1.1rem;
  padding-top: 5%;
}

.projects-display .container p {
  font-size: 1.2rem;
  padding-top: 10%;
  white-space: pre-line;
}

.projects-display ul {
  padding-left: 5%;
}

.projects-display ul li {
  padding-top: 3%;
  text-decoration: none;
  color: var(--green);
}

.contact-info ul {
  padding-left: 5%;
}

.contact-info ul li {
  padding-top: 3%;
  text-decoration: none;
  color: var(--green);
}

.background-image {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
