:root {
  /* source: https://colorhunt.co/palette/7695ff9dbdffffd7c4ff9874 */
  --color-1: #7695ff;
  --color-2: #9dbdff;
  --color-3: #ffd7c4;
  --color-4: #ff9874;
  --body-font: "Space Grotesk", sans-serif;
  --heading-font: "Montserrat", sans-serif;
}

body {
  font-family: var(--body-font);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
}

.page {
  max-width: 800px;
}

header {
  /* background-color: #333; */
  color: black;
  padding: 2rem 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-title {
  font-size: 1.75rem;
  font-weight: 500;
  font-family: var(--heading-font);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  padding: 0 1rem;
}

nav a {
  color: inherit;
  text-decoration: underline;

  &:hover {
    color: var(--color-1);
  }
}

main {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.section-heading {
  padding: 2rem 0;
  font-size: 1.5rem;
  font-family: var(--heading-font);
}

.projects {
  display: flex;
  flex-direction: column;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 400px;
}

.card-thumbnail {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-heading {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
  /* padding: 0.5rem; */
}

.card-description {
  /* padding: 0.5rem; */
  font-size: 12px;
}

.card-footer {
  /* padding: 0.5rem; */
  background-color: transparent;
}

.card-footer a {
  text-decoration: none;
  color: var(--color-1);
}
